
{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement - MÉGA PROMO{% endblock %}

{% block content %}

    <h2>Erreur de paiement</h2>

    <p>
        Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }},</strong><br>
        Votre paiement a échoué pour votre commande n°<strong>{{ order.reference }}</strong>.<br>
        Une confirmation d'erreur vient de vous être envoyée par email à l'adresse {{ order.user.email }}.<br>

    </p>

    <a href="{{ path('order') }}">Réessayer le paiement</a>



{% endblock %}
